.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#splash_screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url() center no-repeat #fff;
}

html {
  height: 100vh;
}

body {
  height: 2000vh;
  background: #9E9E9E;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  /*transform: translate(-50%, -50%);*/
  /*max-width: 100vw;*/
  /*width: auto;*/
  height: 100%;
  width: auto;
  /*max-height: 100vh;*/
  box-shadow: 0px 0px 8px #888888;
}